<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 ">
        
            {{> admin/_adminHeader}}

            <!-- Form -->
            <form class="mb-4" method="POST" action="/admin/generate-invite" data-alert="true" data-alert-text="You are about to create a new account invite for this email..." data-alert-icon="warning">
                <div class="row">
                    
                    <div class="col-12 col-md-6">
                        <!-- Email address -->
                        <div class="form-group">
                            <label class="" for="email">Email address</label>
                            <input type="email" id="email" name="email" class="form-control">
                        </div>

                    </div>

                </div> <!-- / .row -->


                <br />
                <hr class="mt-4 mb-5">
                <br />

                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalLoading">Generate Account Invite</button>
            </form>

    </div> <!-- / .row -->
</div>