<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
        
            <!-- Header -->
            <div class="header">
                <div class="header-body">

                    <div class="row align-items-end">
                        <div class="col">
                            <h6 class="header-pretitle">Admin</h6>
                            <h1 class="header-title">{{title}}</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs header-tabs">
                                <li class="nav-item">
                                    <a href="https://app.forestadmin.com/" class="nav-link text-center" target="_blank">
                                    Forest Admin
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Manage Users
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a href="/admin/manage-users" class="dropdown-item ">Active Users</a>
                                        <a href="/admin/manage-suspended-users" class="dropdown-item">Suspended Users</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a href="/admin/reported-posts" class="nav-link text-center active">
                                    Reported Posts
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        {{#if posts}}
            {{#each posts}} 
                {{> admin/_postCard 
                    author=this.author
                    post_content=this.post_content 
                    post_image=this.post_image 
                    date_posted=this.date_posted
                    post_id=this._id
                    reports=this.reports
                    comments=this.comments
                    likes=this.likes 
                    user=../user
                    postControls=../postControls
                }}
                
            {{/each}}
        {{else}}
            <div class="card">
                <div class="card-body">
                    <br />
                    <div class="row space-around text-center avatar avatar-lg mx-auto">
                        <img src="/images/mountains.svg" alt="{{siteName}} Logo" class="avatar-img rounded" >
                    </div>

                    <br />
                    <h2 class="card-title text-center mb-3">No Reported Posts left to review at this time.</h2>

                    <p class="card-text text-center text-muted mb-4">
                        Check back again later or if you find any posts that violate the terms please report them for review.
                    </p>

                </div>
            </div>
        {{/if}}
    </div> <!-- / .row -->
</div>