<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
        
            {{> admin/_adminHeader reportedPosts=true}}

        {{#if posts}}
            {{#each posts}} 
                {{> admin/_postCard 
                    author=this.author
                    post_content=this.post_content 
                    post_image=this.post_image 
                    date_posted=this.date_posted
                    post_id=this._id
                    reports=this.reports
                    comments=this.comments
                    likes=this.likes 
                    user=../user
                    postControls=../postControls
                }}
                
            {{/each}}
        {{else}}
            <div class="card">
                <div class="card-body">
                    <br />
                    <h2 class="card-title text-center mb-3">No Reported Posts left to review at this time.</h2>

                    <p class="card-text text-center text-muted mb-4">
                        Check back again later or if you find any posts that violate the terms please report them for review.
                    </p>

                </div>
            </div>
        {{/if}}
    </div> <!-- / .row -->
</div>