<div class="card">
  <div class="card-header">

    <h4 class="card-header-title">
      {{title}} {{#if name}} {{name}} {{/if}}
    </h4>

  </div>

  <div class="card-body">
        <p class="card-text text-muted" style="font-size: 0.9em">
        {{{breaklines content}}}
        </p>
    </div>

</div>
