<div id="userSurvivalCard" class="card text-center" style="margin: 0 auto;margin-top: -200px;width: 50%;border-top-right-radius: 0;border-top-left-radius: 0">

  <div class="card-body">
        <h4 class="card-header-title text-muted" style="font-size: 0.85em;text-transform: uppercase;letter-spacing: 1px;">
          {{title}} {{#if name}} {{name}} {{/if}}
        </h4>
        <p class="card-text" style="font-size: 1.3em;font-weight: bold;margin-top: 10px">
        {{{breaklines content}}}
        </p>
    </div>

</div>
