doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
div(style='width:500px; margin:auto;')
  h2 Password Reset
  br
  p
    | Hello. You have requested a password reset. Please click the following button to continue on with resetting your password. Please note this link is only valid for the next hour.
  br
  a(href=`${resetURL}`) Reset My Password
  br
  p
    | If unable to click the link above, please copy and past the following link into your browser: #{resetURL}