

<div class="header container-course-header">
  <div class="header-body">

    <h6 class="header-pretitle">{{pretitle}}</h6>
    <h1 class="header-title">{{title}}</h1>

    <br />

    <p class="col-12 text-muted">{{description}}</p>

    <div class="row align-items-center">
      <a href="#" class="btn btn-outline-secondary" style="margin: 0 auto;display: block;" data-toggle="modal" data-target="#modalSubscribe">
        <i class="fe fe-bell"></i> &nbsp; Get Notified of The Next Live Training Session
      </a>
    </div>

    {{#if isAdmin}}
    <br />
    <div class="row space-around">
      <a href="/courses/new" class="btn btn-secondary"><i class="fe fe-plus"></i> &nbsp; Create a New Course</a>
    </div>
    {{/if}}

  </div>
</div>

<div class="row wrap space-between">
    {{#each courses}}
        {{> course/_courseCard title=this.title cover=this.image description=this.description slug=this.slug}}
    {{/each}}
</div>

