<div class="header">
    <div class="header-body">
        <div class="row align-items-end">

            <div class="col">
                <h1 class="header-title">{{title}}</h1>
            </div>
            
            <div class="col-auto">
                {{#if isAdmin}}
                    <form method="POST" action="/upload_new_file" data-alert="true" data-alert-text="You are about to UPLOAD a new file..." data-alert-icon="warning" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="file">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
                            </div>
                        </div>
                    </form>
                {{/if}}
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <!-- Files -->
        <div class="card" data-toggle="lists" data-lists-values="[&quot;name&quot;]">
            <div class="card-header">

                <div class="row align-items-center">
                    <div class="col">
                        <!-- Title -->
                        <h4 class="card-header-title">Files</h4>
                    </div>

                    <div class="col-auto">
                        <!-- Dropdown -->
                        <div class="dropdown">

                            <!-- Toggle -->
                            <a href="#!" class="small text-muted dropdown-toggle" data-toggle="dropdown">Sort order</a>

                            <!-- Menu -->
                            <div class="dropdown-menu">
                                <a class="dropdown-item sort" data-sort="name" href="#!">
                                    Asc
                                </a>
                                <a class="dropdown-item sort" data-sort="name" href="#!">
                                    Desc
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- / .row -->

            </div>

            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <!-- Form -->
                        <form>
                            <div class="input-group input-group-flush input-group-merge">
                                <input type="search" class="form-control form-control-prepended search" placeholder="Search">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fe fe-search"></span>
                                        </div>
                                    </div>
                            </div>
                        </form>

                    </div>
                </div> <!-- / .row -->
            </div>

            <div data-toggle="lists" data-lists-values='["card-title"]' class="card-body">

                <!-- List -->
                <ul class="list list-group list-group-lg list-group-flush list my--4">
                    {{#each downloads}}
                        {{> downloads/_fileCard filename=this.name filepath=this.path filesize=this.size downloadpath=this.downloadURL filetype=this.type}}
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>
</div> <!-- / .row -->
