{{> groups/_groupHeader group=group}}

<div>

    <a href="/community/groups/{{group.slug}}/new" class="btn btn-secondary" style="margin-bottom:25px;"> New Discussion Thread</a>

    <div class="row">
        <br />
        <div class="col-12 col-xl-8">
            {{#if discussions}}
                {{#each discussions}}
                    {{> groups/_discussionCard discussion=this}}
                {{/each}}
            {{/if}}

        </div>

        <div class="col-12 col-xl-4">
            {{> profile/_contentCard 
                title='About '  
                name=group.name
                content=group.description
            }}
            {{> groups/_creatorCard}}
            {{#if group.members}}
                {{> groups/_membersCard group.members}}
            {{/if}}

        </div>
    </div> <!-- / .row -->

</div> <!-- / .container-fluid -->