{{> layout/_header}}

{{> modals/_loading}}

{{#if user}}
    {{> modals/_subscribe}}
    {{> modals/_lightbox}}
    {{> layout/_topNavbar}}

    <div class="main-content col-10">
        {{> flashes/_flashHandler}}
        {{{body}}}
    </div>

{{else}}
    {{> modals/_requestInvite}}
    {{> flashes/_flashHandler}}
    {{{body}}}

{{/if}}

{{> layout/_footer}}