{{> messages/_messagesHeader
        title=title
        pretitle=pretitle
}}

<!-- CONTENT -->
<div class="">
    <div class="row">

        <!-- Message List -->
        <div class="col-12 col-xl-3">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto align-items-center">
                    <p>Currently Open Chats</p>
                </div>

                <div class="col-auto align-items-center">
                    <a href="/messages/new" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Start a new chat!">
                        <i class="fe fe-plus"></i>
                    </a>
                </div>
            </div>

            <hr>
            {{#if messages}}
                <div class="chat__list--wrapper">
                    {{#each messages}}
                        {{> messages/_messageListCard currentUser=../user._id message=this}} 
                    {{/each}}
                </div>
            {{/if}}
        </div><!-- / Message List -->

        <!-- Current Chat -->
        <div class="col-12 col-xl-9">
            {{#if chat}}
                <div class="chat__messages">
                        <div class="col-auto message-container text-center">
                            <p class="text-muted">Beginning of Chat ({{moment chat.date_created}})</p>
                        </div>
                        {{#each chat.messages}}
                            <div class="col-auto message-container">
                                {{> messages/_message message=this currentUser=../user._id}}
                            </div>
                        {{/each}}
                </div>

                <div class="col-12">
                    <form method="POST" action="/messsages/{{chat._id}}/new_message" class="row align-items-center justify-content-between chat-box">
                        <textarea class="form-control col-xl-9" placeholder="Begin typing your message here..." aria-label="Begin typing your message here..." aria-describedby="button-addon2" id="message" name="message"></textarea>
                        <div class="input-group-append col-xl-3">
                            <button class="btn btn-primary col-12" type="submit" id="button-addon2"><i class="fe fe-send"></i> Send</button>
                        </div>
                    </form>
                </div>
            {{/if}}
        </div> <!-- / Current Chat -->

    </div> <!-- / .row -->

</div> <!-- / .container-fluid -->


