{{> profile/_profileHeader
  profile_cover=profile_cover 
  avatar=avatar 
  title=title 
  username=username
  user=user
  isCurrentUser=isCurrentUser
  profile-feed=true
}}

<!-- CONTENT -->
<div class="">
  <div class="row">
      <div class="col-12 col-xl-8">
        {{#if isCurrentUser}}
          {{> feed/_postForm}}
        {{/if}}

        {{#if posts}}
          {{#each posts}} 
            {{#if this.post_type.status}}
                {{> feed/post_types/_postStatus 
                    author=this.author 
                    post_content=this.post_content 
                    date_posted=this.date_posted 
                    post_id=this._id 
                    reports=this.reports 
                    comments=this.comments 
                    likes=this.likes 
                    user=../user 
                    postControls=../postControls
                }}
            {{/if}}
            {{#if this.post_type.photo}}
                {{> feed/post_types/_postPhoto 
                    author=this.author
                    post_content=this.post_content 
                    post_image=this.post_image 
                    date_posted=this.date_posted 
                    post_id=this._id 
                    reports=this.reports 
                    comments=this.comments 
                    likes=this.likes 
                    user=../user 
                    postControls=../postControls
                }}
            {{/if}}
          {{/each}}
        {{else}}
          {{> feed/_noPosts avatar=avatar name=title}}
        {{/if}}

      </div>

    <div class="col-12 col-xl-4">

      {{> profile/_contentCard 
        title='About ' 
        name=title 
        content=profile.bio
      }}

      {{> profile/_profileMeta
        title='Details about '
        name=title 
        profile=profile 
        joined_at=joined_at
        website=website 
      }}
      {{> profile/_profileContact
        title='Connect with '
        name=title 
        contact=contact
        email=email 
      }}

    </div>

  </div> <!-- / .row -->

</div> <!-- / .container-fluid -->


