<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-4" style="padding:50px;">
            
            <h1 class="display-4 text-center mb-3">Register Account</h1>

            <p class="text-muted text-center mb-5">Sign up here to create your new account.</p>

            <form class="account-form" method="POST" action="/register">

                <div class="form-group">
                    <label for="key">Your Invite Key <i class="fe fe-help-circle" data-toggle="tooltip" data-placement="top" title="Since this app is just for demo purposes, account registration is closed except for those with an invite key."></i></label>
                    <input name="key" id="key" type="key" class="form-control" placeholder="Enter your invite key">
                </div>

                <a href="#!" class="btn btn-lg btn-block btn-secondary mb-3 btn-sm" data-toggle="modal" data-target="#modalInviteRequest">Request Invite</a>

                <br />
                <hr>
                <br />

                <div class="form-group">
                    <label for="name">Your Full Name</label>
                    <input name="name" id="name" type="name" class="form-control" placeholder="Enter your full name">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input name="email" id="email" type="email" class="form-control" placeholder="name@address.com" 
                        {{#if email}} value="{{email}}" {{/if}}>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" id="username" type="text" class="form-control" placeholder="Enter your username">
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="password">Password
                    </label>

                    <div class="input-group input-group-merge">
                        <input type="password" id="password" name="password" class="form-control form-control-appended" placeholder="Enter your password">

                        <div class="input-group-append">
                            <span class="input-group-text">
                                
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div id="passwordStrengthMeter" class="progress" style="height: 10px;">
                        <div    class="progress-bar" 
                                role="progressbar" 
                                style=" width: 12.5%; background-color:red; opacity:0;">
                        </div>
                    </div> 
                    <div id="password-checklist" class="bg-light border">
                        <p class="mb-2"><strong>Password Suggestions</strong></p>
                        <p class="small text-muted mb-2">To ensure the best security for your account we recommend trying to meet some or all of the following:</p>
                        <ul>
                            <li id="password-eight-chars" class="password-uncheck">8 or more characters</li>
                            <li id="password-twelve-chars" class="password-uncheck">12 or more characters</li>
                            <li id="password-one-num" class="password-uncheck">At least 1 number</li>
                            <li id="password-more-num" class="password-uncheck">2 or more numbers</li>
                            <li id="password-one-cap" class="password-uncheck">At least 1 capital letter</li>
                            <li id="password-more-cap" class="password-uncheck">2 or more capital letters</li>
                            <li id="password-one-spec" class="password-uncheck">At least 1 special character</li>
                            <li id="password-more-spec" class="password-uncheck">2 or more special characters</li>
                        </ul>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password-confirm">Confirm Password</label>

                    <div class="input-group input-group-merge">
                        <input type="password" id="password-confirm" name="password-confirm" class="form-control form-control-appended" placeholder="Enter your password again to confirm">

                    </div>
                </div>

                <!-- Submit -->
                <button type="submit" class="btn btn-lg btn-block btn-primary mb-3" disabled="true" data-toggle="modal" data-target="#modalLoading">Sign up</button>

                <!-- Link -->
                <div class="text-center">
                    <small class="text-muted text-center">
                    Already have an account? <a href="/login">Log in</a>.
                    </small>
                </div>

            </form>

        </div>
        <div class="col-8">
                <div class="bg-cover vh-100 mt--1 mr--3 row space-around align-center" style="background-image: url(/images/running.jpeg); background-size:cover; background-position:center;">
                    <h1 class="brushed-text">Social<br/>App</h1>
                </div>
        </div>
    </div> <!-- / .row -->
</div>