<div class="container-fluid settings-container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
        
        <div class="header">
            <div class="header-body">
                <div class="row align-items-end">
                <div class="col">

                    <h6 class="header-pretitle">
                    Settings
                    </h6>

                    <h1 class="header-title">
                    Change Password
                    </h1>
                    
                </div>

                </div>
                <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs header-tabs">
                        <li class="nav-item">
                            <a href="/settings/profile" class="nav-link text-center">
                            Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/settings/avatar" class="nav-link text-center">
                            Avatar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/settings/profile-cover" class="nav-link text-center">
                            Profile Cover
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/settings/billing" class="nav-link text-center">
                            Billing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/settings/manage-password" class="nav-link text-center active">
                            Change Password
                            </a>
                        </li>
                    </ul>
                
                </div>
                </div>
            </div>
        </div>


        <form class="mb-4 account-form" method="POST" action="/settings/manage-password">
            <div class="row">
                <div class="col-12 col-md-6 order-md-2">
                    
                    <!-- Card -->
                    <div class="form-group">
                        <div id="passwordStrengthMeter" class="progress" style="height: 10px;">
                            <div    class="progress-bar" 
                                    role="progressbar" 
                                    style=" width: 12.5%; background-color:red; opacity:0;">
                            </div>
                        </div> 
                        <div id="password-checklist" class="bg-light border">
                            <p class="mb-2"><strong>Password Suggestions</strong></p>
                            <p class="small text-muted mb-2">To ensure the best security for your account we recommend trying to meet some or all of the following:</p>
                            <ul>
                                <li id="password-eight-chars" class="password-uncheck">8 or more characters</li>
                                <li id="password-twelve-chars" class="password-uncheck">12 or more characters</li>
                                <li id="password-one-num" class="password-uncheck">At least 1 number</li>
                                <li id="password-more-num" class="password-uncheck">2 or more numbers</li>
                                <li id="password-one-cap" class="password-uncheck">At least 1 capital letter</li>
                                <li id="password-more-cap" class="password-uncheck">2 or more capital letters</li>
                                <li id="password-one-spec" class="password-uncheck">At least 1 special character</li>
                                <li id="password-more-spec" class="password-uncheck">2 or more special characters</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <!-- New password -->
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>

                    <!-- Confirm new password -->
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" name="password-confirm" id="password-confirm" class="form-control">
                    </div>
                    <br />
                    <hr class="mt-4 mb-5">
                    <br />
                    <!-- Submit -->
                    <button type="submit" class="btn btn-lg btn-block btn-primary mb-3" disabled="true" data-toggle="modal" data-target="#modalLoading">Update Password</button>
                </div>

            </div> <!-- / .row -->

        </form>

        </div>
    </div> <!-- / .row -->
</div>