<div class="header">
  <div class="header-body">

    <h6 class="header-pretitle">The Journey</h6>
    
    <h1 class="header-title">{{title}}</h1>

  </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
        
        <!-- Form  action="/new_deadsea_update" enctype="multipart/form-data"-->
        <form class="account-form" method="POST" action="/new_sponsor" enctype="multipart/form-data">
            <div class="row">

                <div class="col-12">
                    <div class="form-group">
                        <label for="brand_name">Brand Name</label>
                        <input type="text" name="brand_name" id="brand_name" class="form-control" value="">
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="form-group">
                        <label for="about">Brand Profile</label>
                        <textarea class="form-control" name="brand_profile" id="brand_profile" placeholder="Brand profile...">
                            
                        </textarea>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="brand_logo">Brand Logo</label><br />
                        <input type="file" name="brand_logo" id="upload" class="deadseaUpdateImage form-control" accept="image/gif, image/png, image/jpg, image/jpeg">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="page_cover">Cover Image</label><br />
                        <input type="file" name="page_cover" id="upload" class="deadseaUpdateImage form-control" accept="image/gif, image/png, image/jpg, image/jpeg">
                    </div>
                </div> 

            </div> <!-- / .row -->


            <br />
            <hr class="mt-4 mb-5">
            <br />

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalLoading">Create New Sponsor Page</button>
        </form>

        </div>
    </div> <!-- / .row -->
</div>