<div class="header">
  <div class="header-body">
    <div class="row align-items-end">
      <div class="col">

        <h1 class="header-title">
          {{title}} <small class="text-muted">...with coupons for our members!</small>
        </h1>

      </div>
      <div class="col-auto">
        {{#if isAdmin}}
          <a href="/new_sponsor" class="btn btn-secondary">
            <i class="fe fe-plus"></i> Add New Sponsor Page
          </a>
        {{/if}}

      </div>
    </div>
  </div>
</div>



<div class="row wrap space-between">

{{#each sponsors}}

    {{> sponsors/_sponsorCard 
        id=this.id 
        brand_name=this.brand_name 
        brand_profile=this.brand_profile 
        logo=this.brand_logo
        slug=this.slug
    }}

{{/each}}

</div>
