
<!-- JAVASCRIPT
<!-- Libs JS -->
<script src="/libs/jquery/dist/jquery.min.js"></script>

{{#if mediaelement}}
    <script src="/libs/mediaelement/build/mediaelement.js"></script>
    <script src="/libs/mediaelement/build/mediaelement-and-player.js"></script>
{{/if}}

<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/libs/chart.js/dist/Chart.min.js"></script>
<script src="/libs/chart.js/Chart.extension.min.js"></script>
<script src="/libs/highlight/highlight.pack.min.js"></script>
<script src="/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="/libs/list.js/dist/list.min.js"></script>

<!-- Theme JS -->
<script src="/javascripts/theme.min.js"></script>

<script type="module" src="/javascripts/bundledAsyncScripts.js"></script>
<script type="module" src="/javascripts/bundledAlertScripts.js"></script>
<script type="module" src="/javascripts/scripts.js"></script>
</body>
</html>