<div class="modal fade" id="modalLightbox" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-lightbox">
            <img src="" alt=""/>
        </div>
    </div>
</div>