<div class="card chat__list--item">
    <div class="card-body">
        <div class="row align-items-center col-auto">

            <div class="col-auto">
                <a href="#!" class="avatar avatar-sm">
                    <img src="{{user.avatar}}" alt="{{user.name}}'s Avatar'" class="avatar-img rounded-circle">
                </a>
            </div>

            <div class="col ml--2">
                <h4 class="card-title mb-1">
                    <a href="#!">{{user.name}}</a>
                </h4>

                <p class="card-text small">
                    <span class="text-success">â—</span> Online
                </p>
            </div>

        </div>
    </div>
</div>