<ul class="nav nav-tabs nav-tabs-sm">
    <li class="nav-item">
        <a href="/community/find-people" class="nav-link active">Find People</a>
    </li>
    <li class="nav-item">
        <a href="/community/groups" class="nav-link">Groups</a>
    </li>
    <li class="nav-item">
        <a href="community/events" class="nav-link">Events</a>
    </li>

</ul>