<div class="card">
    <div class="card-body">

        <div class="row align-items-center">
            <div class="col">
                <h5 class="mb-0">Duration</h5>
            </div>

            <div class="col-auto">
                <small class="text-muted">30 minutes</small>
            </div>
        </div> 

        <hr>

        <div class="row align-items-center">
            <div class="col">       
                <h5 class="mb-0">Skill Level</h5>
            </div>

            <div class="col-auto">
                <small class="text-muted">Intermediate</small>
            </div>
        </div> 

        <hr>

        <div class="row align-items-center">
            <div class="col">      
                <h5 class="mb-0">
                    Requirements
                </h5>
            </div>

            <div class="col-auto">   
                <small class="text-muted">Running shoes, water bottle</small>
            </div>
        </div>

        <hr>

        <div class="row align-items-center">
            <div class="col">
                <h5 class="mb-0">Resource</h5>
            </div>

            <div class="col-auto">      
                <a href="#!" class="btn btn-sm btn-white d-none d-md-inline-block">Download</a>
            </div>
        </div>
    </div>
</div>