<div class="card">
    <div class="card-body">
    <div class="row align-items-center">
        <div class="col-12 col-lg-4 order-lg-2">
    
        <!-- Image -->
        <div class="text-center">
            <img src="https://picsum.photos/1600/900/?random" alt="..." class="img-fluid mt--5 mt-lg-0 mb-4 mr-md--5" style="max-width: 272px;">
        </div>

        </div>
        <div class="col-12 col-lg-8 px-4 py-3 order-lg-1">
        
        <!-- Title -->
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec hendrerit risus. Vestibulum convallis varius faucibus.
        </h2>

        <!-- Content -->
        <p class="text-muted">
            Mauris elementum condimentum ultricies. Mauris fringilla augue vel massa varius feugiat non a mi. Curabitur urna purus, aliquet in arcu eget, laoreet rhoncus leo. Aliquam vitae nibh sem.
        </p>

        <!-- Button -->
        <a href="#!" class="btn btn-primary">
            Do Something Here
        </a>

        </div>
    </div> <!-- / .row -->
    </div>
</div>