<div class="card">
    <div class="card-body">
        <br />
        <div class="row space-around text-center avatar avatar-lg mx-auto">
            <img src="{{avatar}}" alt="{{name}}" class="avatar-img rounded" >
        </div>

        <br />
        <h2 class="card-title text-center mb-3">{{name}} hasn't posted anything yet...</h2>

        <p class="card-text text-center text-muted mb-4">
        Follow or check back soon for {{name}}'s first post!
        </p>

    </div>
</div>