<div class="card">
    <div class="card-header">
        <h4 class="card-header-title">What would you like to share?</h4>
    </div>

    <div id="post__form--selector" class="card-body">
        <nav>
            <a href='#!' class="col">
                <i class="fe fe-message-circle"></i><br />
                Status
            </a>
            <a href='#!' class="col">
                <i class="fe fe-image"></i><br />
                Photo
            </a>
            <a href='#!' class="col">
                <i class="fe fe-link"></i><br />
                Link
            </a>
            <a href='#!' class="col">
                <i class="fe fe-map-pin"></i><br />
                Location
            </a>
            <a href='#!' class="col">
                <i class="fe fe-pie-chart"></i><br />
                Poll
            </a>
        </nav>
    </div>
</div>